* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 249, 250);
    height: 100vh;
    text-align: center;
    position: relative;
}

body,
.main,
.container,
.sign-box,
.other-box,
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main {
    height: 80vh;
    width: 450px;
}

img {
    height: 48px;
    border-radius: 25px;
    margin-bottom: 32px;
}

a {
    text-decoration: none;
}

#welcome-p {
    font-size: 24px;
    line-height: 21px;
    color: rgb(3, 3, 3);
    margin: 20px 10px;
}

.container {
    height: 70%;
    width: 100%;
}

.sign-box,
.other-box {
    width: 75%;
    /* background-color: rgba(201, 199, 199, 0.466); */
    border-style: solid;
    /* border-style: inset; */
    border-color: rgba(94, 92, 92, 0.2);
    border-width: 1px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 4px;
    text-align: left;
}

.sign-box {
    height: 70%;
    background-color: #e9edee88;
}

.other-box {
    height: 20%;
    background-color: #ffffff;
}

input {
    width: 90%;
    height: 36px;
    padding: 0 8px;
    /* margin: 10px 0; */
    border-radius: 6px;
    border: 1px solid rgba(136, 136, 136, 0.5);
}

input:focus {
    outline: none;
    border-width: 2px;
    border-color: rgb(26, 52, 197);
}

label {
    /* display: block; */
    margin: 8px;
    font-size: 16px;
    /* color: rgba(136, 136, 136); */
}

label[for="username"] {
    display: inline;
    width: 90%;
    margin: 4px 8px;
}

label[for="password"] {
    display: inline;
    width: 90%;
    /* margin: 4px 8px; */
    margin-top: 16px;
}

#forgot {
    display: inline;
    float: right;
    /* margin-right: 32px; */
}

button {
    width: 90%;
    height: 32px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #1a7f37;
    color: white;
    /* font-weight: bold; */
}

.other-box a {
    margin-top: 8px;
}

.other-box p {
    margin-top: 6px;
}

.footer {
    position: absolute;
    bottom: 4px;
    width: 70%;
    /* height: 50px; */
    /* background-color: rgb(240, 241, 248); */
}

.footer li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 4px;
}

.footer a {
    color: rgb(99, 98, 98);
}